//  Fonts 

$font-stack: 'Poppins', sans-serif; 
$title: 'Sriracha', cursive; 


//   Font Weights

$f-light: 300;
$f-normal: 400;
$f-bold:  600 ; 
$f-black: 700;


//  Font Mixin

@mixin font($font-stack, $weight) {
	font-family: $font-stack;
	font-weight: $weight;
}




