//  Fonts 

$body: 'Source Sans Pro', sans-serif; 
$title: 'Sriracha', cursive; 


//   Font Weights

$f-light: 300;
$f-normal: 400;
$f-bold:  700 ; 
$f-black: 900;


//  Font Mixin

@mixin font($body, $weight) {
	font-family: $body;
	font-weight: $weight;
}





