.main-header {
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	.logo {
		background: rgba($white,.4);
		height: 20vh;
		min-width: 10rem;
		max-width: 15rem;
		text-align: center;
		top: 1em;
		width: 85%;
		&-title {
			background: transparent  url('../img/logo.svg') no-repeat center;
			background-size: contain;
			height: 12rem;
			text-indent: -9999px;
			width: 12rem;
		}
		&-sbtle {
			font-weight: $f-bold;
			font-size: 1.7rem;
			line-height: 1;
			position: relative;
			text-align: center;
			top: -4.5em;
			span {
				color: $dblue;
				font-family: $title;
				font-size: 2rem;
				text-transform: uppercase;
			}
		}
	}
}
	