*, *::before, *::after {
	box-sizing: border-box;
}

img {
	height:  auto;
	max-width: 100%;
}

.container  {
	margin: 0 auto;
	max-width: 1200px;
	width: 90%;
}

.unstyle-list {
	list-style: none;
	margin: 0;
	padding: 0;
}